---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 - Página no encontrada">
    <div class="mt-8 flex flex-col justify-center items-center gap-10">
        <h1 class="text-2xl font-bold text-gray-600 md:text-3xl">Esta página no existe</h1>
        <img alt="not found image" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExM3ZpaXgxN2ZqN2VxMm43dWtzcmV1d2diZ3FsZWpxYXJndGVxaG9reSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pFkbkttdEBnSo/giphy.gif" class="object-cover rounded" />
    </div>
</Layout>

