---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Himare | Sobre mí">
    <section>
        <div
            class="container mx-auto lg:px-8 p-8 md:p-12 lg:px-16 lg:py-24"
        >
            <div class="">
                <h1 class="text-3xl font-bold sm:text-4xl">
                    Quiti Navarro Martínez
                </h1>
            </div>

            <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
                <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
                    <img
                        alt=""
                        
                        src="/quiti.jpg"
                        class="object-cover rounded"
                    />
                </div>

                <div class="lg:py-16">
                    <article class="space-y-4 text-gray-600">
                        <p>
                            Me encargo de la Comunicación y la estrategia de
                            Redes Sociales de marcas y negocios, con el objetivo
                            de que construyan relaciones con su público
                            objetivo, generando interés y confianza. Como
                            apasionada del Branding, también ayudo a mis
                            clientes a conseguir la imagen que desean
                            transmitir, construyéndoles una nueva Identidad
                            Corporativa siempre que la necesiten.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </section>
</Layout>
