---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="Himare | Home">
    <section class="container mx-auto mt-6 overflow-hidden sm:grid sm:grid-cols-2">
        <div class="p-8 md:p-12 lg:px-16 lg:py-24">
            <div class="mx-auto max-w-xl text-center sm:text-left">
                <h1 class="text-2xl font-bold text-gray-600 md:text-3xl">
                    COMUNICACIÓN Y ESTRATEGIA DIGITAL.
                </h1>

                <p class="text-gray-500 my-4">
                    Nuestro propósito es ayudarte con tu imagen digital;
                    generando una relación sólida entre tu marca, tu público y
                    tú.
                </p>

                <div class="mt-4 md:mt-8">
                    <a href="#"
                        class="rounded bg-accent-500 px-12 py-3 text-sm font-medium text-white transition hover:opacity-60 focus:outline-none focus:ring focus:ring-backgroundHimare-300"
                    >
                        ¡CUÉNTAME MÁS!
                    </a>
                </div>
            </div>
        </div>

        <img
            alt=""
            src="/home-cta.jpeg"
            class="h-96 w-full object-cover rounded"
        />
    </section>
    <section class="bg-accent-300 mt-6">
        <blockquote class="container mx-auto py-8 text-xl italic font-semibold text-center text-gray-600">
            <p>“Make it simple, but significant”</p>
        </blockquote>
    </section>
</Layout>
