---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="bg-[url('/hero-img-mod.jpeg')] h-[70vh] bg-cover bg-center bg-no-repeat">
    <div class="w-full h-full bg-gradient-to-b from-white/45 to-white/45"></div>
  </section>
	<section class="max-w-6xl container mx-auto py-12 px-8 text-hmblue">
    <h2 class="text-center text-2xl font-subtitle">
      REDES SOCIALES, COMUNICACIÓN Y BRANDING
    </h2>
    <p class="mt-8 text-center font-subtitle text-xl">
      transforma tu presencia digital y<br>construye la marca de tus sueños
    </p>
  </section>

  <section class="w-full text-hmblue text-lg font-subtitle">
    <div class="flex">
      <div class="w-full md:w-4/7 grid">
        <div class="border-t-2 border-hmsoftblue/35 flex items-center pl-8">
          <h3>REDES SOCIALES</h3>
        </div>
        <div class="border-t-2 border-hmsoftblue/35 flex items-center pl-8">
          <h3>ESTRATEGIA DIGITAL</h3>
        </div>
        <div class="border-t-2 border-hmsoftblue/35 flex items-center pl-8">
          <h3>BRANDING Y DISEÑO WEB</h3>
        </div>
        <div class="border-t-2 border-hmsoftblue/35 flex items-center pl-8">
          <h3>ASESORÍA PERSONALIZADA</h3>
        </div>
      </div>
      <div class="w-full md:w-3/7">
        <img class="w-full h-full object-cover object-bottom aspect-square opacity-50" src="/section-img-m.jpeg" alt="">
      </div>
    </div>
  </section>
  <section class="bg-hmbeige text-hmblue">
    <div class="max-w-3xl container mx-auto py-12 px-8">
      <h2 class="text-center text-2xl/8 font-subtitle font-extrabold tracking-widest">“make it simple<br>and significant”</h2>
      <p class="mt-8 font-subtitle text-center">
        Estudio creativo donde el branding y la comunicación se unen para construir marcas auténticas, conectadas y memorables. Llevamos tres años ayudando a destacar en un mundo digital cada vez más competitivo. Nos adaptamos a las necesidades únicas de cada proyecto, tratándolo con el mismo mimo que si fuera nuestro.
      </p>
      <p class="mt-4 font-subtitle text-center">
        Creemos en el poder del `buen hacer´. No importa si eres una pequeña empresa, un profesional independiente o una marca consolidada: aquí encontrarás un equipo que escucha, entiende y transforma tus objetivos en realidad. ¿Necesita ayuda con  tu negocio online? Contáctanos.
      </p>
    </div>
  </section>
</Layout>