---
import Layout from '../layouts/Layout.astro';
import HmH2 from '../components/ui/HmH2.astro';
import HmH3 from '../components/ui/HmH3.astro';
---

<Layout>
  <section>
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-5/11">
        <img class="w-full h-full object-cover aspect-square opacity-65" src="/servicios-section-1.jpg" alt="">
      </div>
      <div class="flex flex-col justify-center w-full md:w-6/11 text-center p-6 md:p-12 font-subtitle text-hmsoftblue">
        <HmH2>COMUNICACIÓN</HmH2>
        <HmH3>redes sociales</HmH3>
        <p class="max-w-lg mx-auto">Planificamos y ejecutamos contenidos que generan engagement y construyen comunidades. De esta manera, tendrás más tiempo para enfocarte en otras áreas importantes de tu negocio.</p>
        <HmH3>influencer marketing</HmH3>
        <p class="max-w-lg mx-auto">¿Te gustaría enviar tus productos a creadores de contenido o construir una relación con estos perfiles en redes sociales? En HIMARË podemos encargarnos de conectar tu marca con las voces adecuadas para amplificar tu mensaje.</p>
        <HmH3>atención al cliente</HmH3>
        <p class="max-w-lg mx-auto">gestionamos la comunicación con tu audiencia de manera cercana y profesional.</p>
        <HmH3>prensa</HmH3>
        <p class="max-w-lg mx-auto">Hacer lo que haces está genial, pero contarlo a periodistas especializados y tener la opción de que tu trabajo aparezca en prensa es mucho mejor. Enviamos notas de prensa y dossieres a periodistas especializada en tu sector.</p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row bg-hmbeige">
      <div class="flex flex-col justify-center w-full md:w-6/11 text-center p-6 md:p-12 font-subtitle text-hmblue">
        <HmH2>BRANDING</HmH2>
        <HmH3>imagen de marca</HmH3>
        <p class="max-w-lg mx-auto">Creamos marcas con personalidad. Se trata de crear una imagen íntegra y coherente con tu proyecto. El proceso es muy sencillo: te pones en contacto con nosotros, te enviamos información de este servicio y nos reunimos para conocernos. Tendrás que responder un cuestionario y, a partir de aquí, empezaremos a crear la personalidad de tu marca y la propuesta creativa de diseño.</p>
        <HmH3>diseño web</HmH3>
        <p class="max-w-lg mx-auto">Diseñamos y desarrollamos sitios web que no solo son visualmente atractivos, sino también funcionales y alineados con tu estrategia. No es por presumir, ¡pero esta web la hemos creado nosotros!</p>
      </div>
      <div class="w-full md:w-5/11">
        <img class="w-full h-full object-cover aspect-square opacity-65" src="/servicios-section-2.jpg" alt="">
      </div>
    </div>
    <div class="flex flex-col lg:flex-row">
      <div class="w-full lg:w-5/11 order-2 lg:order-1">
        <img class="w-full lg:h-full object-cover aspect-video opacity-65" src="/servicios-section-3.jpg" alt="">
      </div>
      <div class="flex flex-col justify-center w-full lg:w-6/11 text-center p-6 md:p-12 font-subtitle text-hmsoftblue order-1 lg:order-2">
        <HmH2>ASESORÍA</HmH2>
        <p class="max-w-xl mx-auto">¿Cómo puedo crear un plan de comunicación? ¿De dónde puedo sacar ideas sobre qué contenido crear? ¿Cómo puedo construir una comunidad en redes sociales?</p>
        <p class="max-w-2xl mx-auto mt-4">Si eres de los que se hace este tipo de preguntas…<br>En HIMARË podemos ofrecerte formación y asesoría personalizada.<br>Te ayudamos a desarrollar estrategias de comunicación efectivas y a entender el mundo digital desde cero.</p>
        <HmH3>estrategia digital</HmH3>
        <p class="max-w-2xl mx-auto">Para aquellos negocios o profesionales que quieren empezar a gestionar sus redes sociales y no saben por donde empezar o que ya tengan perfiles creados pero quieran una auditoría. Analizaremos vuestro perfil, a vuestro público objetivo y a vuestra competencia. Definiremos objetivos y la estrategia en las distintas redes sociales. Incluye ideas y herramientas para crear contenido, un plan de comunicación con ejemplo de un calendario mensual y sus publicaciones, tendencias y mucho más.</p>
        <HmH3>asesoría personalizada</HmH3>
        <p class="max-w-2xl mx-auto">El servicio que necesitas si quieres consejo sobre como organizarte, ideas de contenido, ideas de lanzamientos… En general, cualquier pregunta que puedas tener sobre tu comunicación o imagen digital. Te ayudaremos a tomar decisiones y también te daremos consejos sobre aplicaciones, herramientas, edición de vídeos e imagen…<br><a class="text-hmblue" href="mailto:hola@himarestudio.com">Puedes agendar tu sesión aquí.</a></p>
      </div>
    </div>
  </section>
  <section class="text-hmblue font-subtitle bg-hmbeige p-12">
    <p class='text-xl text-center mb-6'>QUEREMOS PONERTE LA VIDA UN POCO MÁS FÁCIL</p>
    <HmH2 class="text-hmsoftblue">¿hablamos?</HmH2>
    <div class="container max-w-4xl mx-auto text-hmdarkblue">
      <form class="space-y-4">
        <div>
          <label for="name">Nombre completo</label>
          <input
            class="w-full outline-1 outline-hmsoftblue p-3 focus:outline-hmblue bg-hmwhite"
            type="text"
            name="name"
            id="name"
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            class="w-full outline-1 outline-hmsoftblue p-3 focus:outline-hmblue bg-hmwhite"
            type="email"
            name="email"
            id="email"
          />
        </div>
        <div>
          <label for="message">Mensaje</label>
          <textarea
            class="w-full outline-1 outline-hmsoftblue p-3 focus:outline-hmblue bg-hmwhite"
            rows="5"
            name="message"
            id="message"></textarea>
        </div>
        <div>
          <span class="block mb-2">Servicio:</span>
          <label class="block">
            <input class="accent-hmsoftblue" type="checkbox" value="redes sociales" name="service"/>
            Redes sociales
          </label>
          <label class="block">
            <input class="accent-hmsoftblue" type="checkbox" value="Influencer marketing" name="service"/>
            Influencer marketing
          </label>
          <label class="block">
            <input class="accent-hmsoftblue" type="checkbox" value="Atención al cliente" name="service"/>
            Atención al cliente
          </label>
          <label class="block">
            <input class="accent-hmsoftblue" type="checkbox" value="Prensa" name="service"/>
            Prensa
          </label>
          <label class="block">
            <input class="accent-hmsoftblue" type="checkbox" value="Branding" name="service"/>
            Branding
          </label>
          <label class="block">
            <input class="accent-hmsoftblue" type="checkbox" value="Diseño web" name="service"/>
            Diseño web
          </label>
          <label class="block">
            <input class="accent-hmsoftblue" type="checkbox" value="Estrategia digital" name="service"/>
            Estrategia digital
          </label>
          <label class="block">
            <input class="accent-hmsoftblue" type="checkbox" value="Asesoría personalizada" name="service"/>
            Asesoría personalizada
          </label>
        </div>
        <div class="mt-4 text-end">
          <button
            type="submit"
            class="outline-1 outline-hmsoftblue p-3 focus:outline-hmblue bg-hmsoftblue text-hmwhite"
          >
            Enviar
          </button>
        </div>
      </form>
      <!-- LOADER -->
      <div
        id="loader"
        class="hidden fixed top-0 left-0 w-full h-full place-items-center bg-hmsoftblue bg-opacity-30 border border-gray-100 rounded-lg shadow-md"
      >
        <div
          class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite]"
          role="status"
        >
          <span
            class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
            >Loading...</span
          >
        </div>
      </div>
    </div>

  </section>

</Layout>

<script>
  import { actions } from "astro:actions";
  const form = document.querySelector("form");
  const loader = document.querySelector("#loader");

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    loader?.classList.add("grid");
    loader?.classList.remove("hidden");

    const formData: FormData = new FormData(form as HTMLFormElement);
    try {
      const { error } = await actions.send(formData);
      if (!error) {
        loader?.classList.remove("grid");
        loader?.classList.add("hidden");
        form.reset();
        alert(
          "Tu mensaje se ha enviado correctamente. Nos pondremos en contacto contigo lo antes posible.",
        );
      } else {
        loader?.classList.remove("grid");
        loader?.classList.add("hidden");
        alert(
          "Ha habido un error, inténtalo de nuevo en unos minutos. También puedes contactarnos diréctamente a través del email o teléfono.",
        );
      }
    } catch (e) {}
  });

</script>