---
import CurvedMenuIcon from "./icons/CurvedMenuIcon.astro"
---
<header class="w-full bg-hmblue text-hmwhite">
  <div class="flex flex-col items-center gap-8 p-8">
    <button id="button-menu" type="button" class="absolute top-[42px] left-4 md:hidden" aria-expanded="false" aria-label="Alternar menú de navegación">
      <CurvedMenuIcon class="size-7"/>
    </button>
    <a class="font-serif text-5xl text-center" href="/">
      HIMARË
    </a>
    <nav id="nav-menu" class="transition-transform duration-300 -translate-x-full absolute z-10 top-24 bg-hmblue p-12 md:translate-x-0 md:p-0 md:block md:relative md:top-0 w-full font-subtitle text-sm">
      <ul class="flex flex-col md:flex-row items-center justify-center gap-16">
        <li>
          <a href="/servicios" class="hover:opacity-60 transition-opacity duration-300">servicios</a>
        </li>
        <li>
          <a href="/about-us" class="hover:opacity-60 transition-opacity duration-300">about us</a>
        </li>
        <li>
          <a href="/recursos" class="hover:opacity-60 transition-opacity duration-300">recursos</a>
        </li>
        <li>
          <a href="/portfolio" class="hover:opacity-60 transition-opacity duration-300">portfolio</a>
        </li>
        <li>
          <a href="/contacta" class="hover:opacity-60 transition-opacity duration-300">contacta</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
  import "./Header.js";
</script>