---
---

<header>
    <nav class="bg-backgroundHimare-200 shadow">
        <div class="container flex gap-4 md:gap-2 items-center justify-center p-6 mx-auto text-gray-600 capitalize">
            <a href="/" class="transition-colors duration-300 transform border-b-2 border-accent-500 mx-1.5 sm:mx-6">Inicio</a>
            <a href="/services" class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform  hover:border-blue-500 mx-1.5 sm:mx-6">Servicios</a>
            <a href="/blog" class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform  hover:border-blue-500 mx-1.5 sm:mx-6">Blog</a>
            <a href="/about-me" class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform  hover:border-blue-500 mx-1.5 sm:mx-6">Sobre mí</a>
        </div>
    </nav>
</header>