<div class="bg-himareSoftBlue flex justify-center py-2 absolute w-full">
  <span class="text-himareWhite font-theSeasons">¿Necesitas ayuda con negocio online? Contáctanos</span>
  <!-- Hacer que este texto sea un enlace al contacto -->
</div>