---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource-variable/montserrat"; /** Supports weights 100-900 */
import Header from "../components/Header.astro";
import TopBar from "../components/TopBar.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-200 min-h-screen">
    <TopBar />
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  body {
    font-family: "Montserrat Variable", system-ui, sans-serif;
  }

  @font-face {
    font-family: "TheSeasons";
    src: url("/fonts/The-Seasons-Regular.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "TheSeasons";
    src: url("/fonts/The-Seasons-Light.ttf") format("truetype");
    font-weight: 300;
  }
</style>
